@font-face {
    font-family: Aes;
    src: url(./fonts/Aesthetic_Beauty\ CF.otf);
}

html {
    font-family: Aes, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 18px/1.5 Aes, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 4rem; /* Increased size for a bigger "Martin Fesenko" */
    margin: 0.67em 0;
    color: #111;
    font-family: Aes;
    display: block;
    letter-spacing: 5px; /* Increased letter-spacing for more stretched text */
    text-align: left;
    max-width: 100%;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 0rem; /* Increased margin-bottom for more space below the header */
}

h2 {
    font-family: Aes;
    font-weight: bold;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h1 a:focus {
    text-decoration: underline;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: left;
}

.centered-text {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

hr {
    border: none;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: -1px;
}

img {
    border: 0;
}

a {
    color: #0074d9;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

p, ul, ol, dl, table, pre, blockquote {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

ul, ol {
    padding-left: 1.5rem;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: .5rem 1rem;
    border-left: .25rem solid #ccc;
    color: #666;
}

.container img {
    margin: 0 auto;
    display: block;
}

.container iframe {
    max-width: 100%;
}

@media (min-width: 30rem) {
    h1 {
        font-size: 5rem; /* Increased size for larger screens */
        margin-bottom: 2rem;
    }
}

.location {
    display: flex;
    align-items: center; /* Keeps the text aligned with the icon */
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.3rem;
}

.location-text {
    margin-top: -22px; /* Adjust the value to move the text up */
    margin-left: 5px; /* Add a small margin to move the text to the right */
}

.hobbies-container {
    display: flex;
    align-items: center;
    /* Removed justify-content: space-between */
}

.hobbies-container a {
    margin-left: 30px;
    margin-top: -3px;
    transition: transform 0.2s, filter 0.2s;
}

.hobbies-container h2 {
    margin: 0px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.hobbies-container a:hover {
    transform: translateY(-5px);
}

/* Chess icon: Green */
.chess-icon:hover img {
    filter: brightness(0) saturate(100%) invert(52%) sepia(94%) saturate(2068%) hue-rotate(87deg) brightness(92%) contrast(90%);
}

/* Waterpolo icon: Blue */
.waterpolo-icon:hover img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(3750%) hue-rotate(196deg) brightness(90%) contrast(101%);
}

/* Keyboard icon: Yellow */
.keyboard-icon:hover img {
    filter: brightness(0) saturate(100%) invert(92%) sepia(81%) saturate(3300%) hue-rotate(5deg) brightness(105%) contrast(98%);
}

.linkedin-link {
    background: linear-gradient(to right, #155259, #3d9ea9); /* Ocean-blue gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leetcode-link {
    background: linear-gradient(to right, #525915, #f5c650); /* Black to yellow gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github-link {
    background: linear-gradient(to right, #5f3e90, #9355ee); /* Purple to black gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.telegram-link {
    background: linear-gradient(to right, #3db3dc, #1288b1); /* White to blue gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
